<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/themes/main.css">
</head>

<body>
  <div class="notifications">
    <div id="nfyWrap" class="nfyWrap">
      <div class="nfyTop">
        <span class="page-watchlist active">Obserowane</span> • <span class="page-notifications">Powiadomienia</span>
        <a id="nfyReadClose" target="_blank">[ X ]</a>
      </div>
      <div class="nfyContainer">

        <div class="nfyFooter">
          <a href="https://github.com/nfm886/forum-pasja-informatyki-chromeExtension" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../jquery.js"></script>
  <script type="text/javascript" src="../src/watchlist.js"></script>
  <script type="text/javascript" src="../src/nfyTop.js"></script>
</body>

</html>